<p>
  Please fill in the form below to book your appointment
</p>
<form #medicalForm="ngForm" (ngSubmit)="success()">
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="user.Name" name="name" type="text" required>
    </mat-form-field>
    <i class="fa fa-question-circle-o fa-lg" matTooltip="Please enter your name"></i>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Phone Number" maxlength="11" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        [(ngModel)]="user.Phone" name="phone" type="number" required>
    </mat-form-field>
    <i class="fa fa-question-circle-o fa-lg" matTooltip="Please enter your phone number"></i>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Address" [(ngModel)]="user.Address" name="address" type="text" required>
    </mat-form-field>
    <i class="fa fa-question-circle-o fa-lg" matTooltip="Please enter your address"></i>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Email" pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|'(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*
        '')@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
        [(ngModel)]="user.Email" name="email" type="text" required>
    </mat-form-field>
    <i class="fa fa-question-circle-o fa-lg" matTooltip="Please enter your email address"></i>
    <br/>
    <mat-form-field>
      <input matInput id="datefield" placeholder="Appointment Date" [(ngModel)]="user.Appointment" name="appointment" type="date"
        required>
    </mat-form-field>
    <i class="fa fa-question-circle-o fa-lg" matTooltip="Please select the date you would like for your appointment"></i>
  </div>
  <br/>
  <button mat-raised-button type="submit" [disabled]="!medicalForm.valid">Book Appointment</button>
</form>
