<br/>
<h1>
  Welcome to Ulster Clinic Medical Bookings
</h1>
<h3>
  This site will allow you to
  <a routerLink="/booking">book an appointment</a> with our clinic and access
  <a routerLink="/contact">contact details</a> in order to reach us.
</h3>
<h3>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa ipsum, suscipit non tincidunt eget, imperdiet et nulla.
  Sed sodales suscipit bibendum. Aenean id sapien ut neque vulputate bibendum et sit amet mi. Aliquam imperdiet metus justo,
  sed tempor ligula congue et. Aliquam vel nibh sit amet arcu lacinia suscipit. Phasellus feugiat sagittis aliquam. Aenean
  vel porta lectus. Nullam faucibus diam nec orci volutpat eleifend. Morbi scelerisque ultricies sodales. Cras mollis vestibulum
  faucibus.
</h3>
